.typewriter h1 {
  font-family: monospace;
  letter-spacing: .17em;
  margin: 0 auto;
  overflow: hidden;
  /* white-space: nowrap; */
  font-size: x-large;
}

.typewriter p {
  font-family: monospace;
  letter-spacing: .17em;
  margin: 0 auto;
  overflow: hidden;
  /* white-space: nowrap; */
  font-size: large;
}
